@model List<Pizza>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="text-center mb-5">Benvenuti alla Mia Pizzeria!</h1>
    <h2>Le nostre Pizze:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Foto</th>
                <th>Prezzo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pizza in Model)
            {
                <tr>
                    <td>@pizza.Name</td>
                    <td>@pizza.Description</td>
                    <td><img src="@pizza.ImageUrl" alt="Foto Pizza" style="max-width: 100px;"></td>
                    <td>@pizza.Price €</td>
                </tr>
            }
        </tbody>
    </table>
</div>
